.song-stats-component {
  /* background-color: chocolate; */
  background-color: rgb(19, 22, 23);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  /* padding-top: 5px; */
}
.song-stats-component span {
  color: turquoise;
  font-size: 1.3rem;
  text-align: center;
}
